/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
  position: relative;
  background-image: url("/images/bg-01.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
  padding-bottom: 60px;
}

header {
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 4vw 18px;
  margin-bottom: 2rem;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  background-color: #fff;
  height: 35px;
  margin-right: 12px;
  position: relative;
  top: 2px;
}

header .logo a {
  font-size: 1.2rem;
  font-weight: 600;
}

header a {
  color: #f5f5f5;
}

header ul {
  margin: 0;
}

header li {
  display: inline-block;
  margin-right: 1rem;
}

header li:last-child {
  margin-right: 0;
}

header .logout {
  border: 0;
  background: transparent;
  color: #fff;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.65);
}

table {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

table thead {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
}

table td {
  border-top: 2px solid rgba(255, 255, 255, 0.2);
}

table td,
table th {
  padding: 1rem 2rem;
  border-right: 2px solid rgba(255, 255, 255, 0.2);
}

table td:last-child,
table th:last-child {
  border-right: 0;
}

.front-page-splash {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 4rem;
}

.front-page-splash .front-page-header {
  font-family: "Roboto", sans-serif;
  font-size: 3.2rem;
  margin-bottom: 2.5rem;
}

.front-page-splash .front-page-subheader {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.front-page-splash .inline {
  display: flex;
  align-items: center;
}

.front-page-splash input {
  width: 100%;
}

.front-page-splash button {
  background-color: #666;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  padding: 0.6rem 1.2rem;
  border: 0;
  border-radius: 0.3em;
}

.front-page-content h3 {
  margin-bottom: 2rem;
}

.front-page-content .post {
  padding: 1rem 2rem;
  margin-bottom: 1.3rem;
  background-color: #fff;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.front-page-content .left {
  width: 100px;
}

.front-page-content .left img {
  height: 80px;
}

.front-page-content .right {
  width: 100%;
  padding: 0 0 0 1rem;
}

.post-index {
  background-color: #fff;
  color: #333;
  padding: 2rem 4rem;
}

.post-index .post.title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.post-index .post.author {
  font-size: 1rem;
  color: #aaa;
}

.post-index .post.created {
  font-size: 0.9rem;
  color: #ccc;
  margin-bottom: 2rem;
}

.post-index .post.content {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 2rem;
  padding: 0.7rem 1.4rem;
}
