@model Mvc.ViewModels.Forums.ForumsIndexViewModel

<h1>Forums - Index</h1>

<table class="table table-striped table-hover table-bordered mt-5">
  <thead class="text-center thead-dark">
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>
  @foreach (var forum in Model.Forums)
  {
    <tr>
      <td>
        <a asp-controller="forums" asp-action="topic" asp-route-id="@forum.Id">
          @forum.Title
        </a>
      </td>
      <td>@forum.Description</td>
    </tr>
  }
</table>